<template>
<div id="app">
    <h1 class="page-header">Query All Tuna Catches</h1>
    <button @click='toggle = !toggle'> QUERY </button>
  <h1 v-show='toggle'>



<table id="firstTable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Timestamp</th>
      <th>Holder</th>
      <th>Catch Location</th>
      <th>Vessel</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="row in rows" :key="row.selected">
      <td>{{row.id}}</td>
      <td>{{row.timestamp}}</td>
      <td>{{row.holder}}</td>
      <td>{{row.catchlocation}}</td>
      <td>{{row.vessel}}</td>
    </tr>
  </tbody>
</table>
</h1>
</div>
</template>


<script>



export default {
  data() {
return {
  toggle: true,
  selected: '',
      rows: [ 
      { id: 1, timestamp: "1504054225", holder: 'Miriam', catchlocation: '67.0006, -70.5476', vessel: '923F' },
      { id: 2, timestamp: "1504057825", holder: 'Dave', catchlocation: '91.2395, -49.4594', vessel: 'M83T'},
      { id: 3, timestamp: "1493517025", holder: 'Igor', catchlocation: '58.0148, 59.01391', vessel: 'T012'},
      { id: 4, timestamp: "1496105425", holder: 'Amalea', catchlocation: '-45.0945, 0.7949', vessel: 'P490' },
      { id: 5, timestamp: "1493512301", holder: 'Rafa', catchlocation: '-107.6043, 19.5003', vessel: 'S439' },
      { id: 6, timestamp: "1494117101", holder: 'Shen', catchlocation: '-155.2304, -158723', vessel: 'J205' },
      { id: 7, timestamp: "1496104301", holder: 'Leila', catchlocation: '103.8842, 22.1277', vessel: 'S22L'},
      { id: 8, timestamp: "148506691", holder: 'Yuan', catchlocation: '-132.3207, -34.0983', vessel: 'E189' },
      { id: 9, timestamp: "1485153091", holder: 'Carlo', catchlocation: '153.0054, 12.6429', vessel: '129R' },
      { id:10, timestamp: "1494117101", holder: 'Fatima', catchlocation: '51.9435, 8.2735', vessel: '49W4'}
    ],
}
  }
}
</script>

<style>
#app,#app2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align:left;
  color: #2c3e50;
  margin-top: 60px;
}
</style>