<template>
  <div id="app">
   <queryalltuna/>
   <querytuna/>
   <recordtuna/>
  </div>
</template>

<script>
import queryalltuna from './components/queryalltuna.vue'
import querytuna from './components/querytuna.vue'
import recordtuna from './components/recordtuna.vue'

export default {
  name: 'app',
  components: {
    queryalltuna,
    querytuna,
    recordtuna
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}
th, td {
  padding: 15px;
  text-align: left;
}
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}
</style>
